.elementor-13085 .elementor-element.elementor-element-3ae1101 > .elementor-container{max-width:1136px;}.elementor-13085 .elementor-element.elementor-element-3ae1101{padding:60px 0px 0px 0px;}.elementor-13085 .elementor-element.elementor-element-108b2f44 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;line-height:28px;letter-spacing:0.7px;fill:#0064E1;color:#0064E1;background-color:#02010100;}.elementor-13085 .elementor-element.elementor-element-108b2f44 .elementor-button:hover, .elementor-13085 .elementor-element.elementor-element-108b2f44 .elementor-button:focus{color:#0044AB;}.elementor-13085 .elementor-element.elementor-element-108b2f44 .elementor-button:hover svg, .elementor-13085 .elementor-element.elementor-element-108b2f44 .elementor-button:focus svg{fill:#0044AB;}.elementor-13085 .elementor-element.elementor-element-5225800e{text-align:center;}.elementor-13085 .elementor-element.elementor-element-5225800e .elementor-heading-title{color:#323847;font-family:"Montserrat", Sans-serif;font-size:48px;font-weight:700;line-height:60px;}.elementor-13085 .elementor-element.elementor-element-5225800e > .elementor-widget-container{padding:30px 0px 40px 0px;}.elementor-13085 .elementor-element.elementor-element-2ae99b3a .elementor-icon-list-icon{width:0px;}.elementor-13085 .elementor-element.elementor-element-2ae99b3a .elementor-icon-list-icon i{font-size:0px;}.elementor-13085 .elementor-element.elementor-element-2ae99b3a .elementor-icon-list-icon svg{--e-icon-list-icon-size:0px;}.elementor-13085 .elementor-element.elementor-element-2ae99b3a .elementor-icon-list-text, .elementor-13085 .elementor-element.elementor-element-2ae99b3a .elementor-icon-list-text a{color:#586384;}.elementor-13085 .elementor-element.elementor-element-2ae99b3a .elementor-icon-list-item{font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:700;text-transform:uppercase;line-height:28px;}.elementor-13085 .elementor-element.elementor-element-6f629c91{text-align:center;}.elementor-13085 .elementor-element.elementor-element-6f629c91 img{object-position:center center;}.elementor-13085 .elementor-element.elementor-element-6f629c91 > .elementor-widget-container{padding:60px 0px 0px 0px;}.elementor-13085 .elementor-element.elementor-element-3a284101 > .elementor-container{max-width:768px;}.elementor-13085 .elementor-element.elementor-element-3a284101{padding:60px 0px 60px 0px;}.elementor-13085 .elementor-element.elementor-element-3f58bae5{text-align:left;color:#323847;font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:400;line-height:28px;}.elementor-13085 .elementor-element.elementor-element-ebfba78 > .elementor-container{max-width:1136px;}.elementor-13085 .elementor-element.elementor-element-ebfba78:not(.elementor-motion-effects-element-type-background), .elementor-13085 .elementor-element.elementor-element-ebfba78 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F9FF;}.elementor-13085 .elementor-element.elementor-element-ebfba78{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 60px 0px;}.elementor-13085 .elementor-element.elementor-element-ebfba78 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-13085 .elementor-element.elementor-element-6f9e048c{text-align:center;}.elementor-13085 .elementor-element.elementor-element-6f9e048c .elementor-heading-title{color:#323847;font-family:"Montserrat", Sans-serif;font-size:40px;font-weight:700;line-height:48px;}.elementor-13085 .elementor-element.elementor-element-6f9e048c > .elementor-widget-container{padding:0px 0px 40px 0px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__thumbnail:hover img{transform:scale(1.12);}.elementor-13085 .elementor-element.elementor-element-6754c2b2.uael-post__link-complete-yes .uael-post-image-background .uael-post__complete-box-overlay:hover + .uael-post__inner-wrap .uael-post__thumbnail img{transform:translate(-50%,-50%) scale(1.12);}.elementor-13085 .elementor-element.elementor-element-6754c2b2.uael-post__link-complete-yes .uael-post__complete-box-overlay:hover + .uael-post__inner-wrap .uael-post__thumbnail img{transform:scale(1.12);}.elementor-13085 .elementor-element.elementor-element-6754c2b2.uael-equal__height-yes .uael-post-image-background .uael-post__inner-wrap:hover img{transform:translate(-50%,-50%) scale(1.12);}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .elementor-align-icon-right{margin-left:10px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .elementor-align-icon-left{margin-right:10px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post-grid .uael-post-wrapper{padding-right:calc( 40px/2 );padding-left:calc( 40px/2 );margin-bottom:0px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post-grid .uael-post-grid__inner{margin-left:calc( -40px/2 );margin-right:calc( -40px/2 );}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post-wrapper{text-align:left;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__bg-wrap{background-color:#FFFFFF;box-shadow:0px 3px 9px 3px rgba(0, 0, 0, 0.08);}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__content-wrap{padding:30px 25px 30px 30px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__title, .elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__title a{color:#323847;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__title:hover, .elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__title a:hover{color:#0044AB;}.elementor-13085 .elementor-element.elementor-element-6754c2b2.uael-post__link-complete-yes .uael-post__complete-box-overlay:hover + .uael-post__inner-wrap .uael-post__title a{color:#0044AB;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__title{font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:600;line-height:32px;margin-bottom:5px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__meta-data{color:#586384;margin-bottom:0px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__meta-data svg{fill:#586384;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__meta-data span{font-family:"Open Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:26px;margin-right:0px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__meta-data span:last-child, .elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post__meta-data span.uael-listing__terms-link{margin-right:0;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 a.uael-post__read-more{color:#0064E1;background-color:#02010100;padding:0px 0px 0px 0px;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:600;line-height:28px;}.elementor-13085 .elementor-element.elementor-element-6754c2b2 a.uael-post__read-more:hover{color:#0044AB;}.elementor-13085 .elementor-element.elementor-element-6754c2b2.uael-post__link-complete-yes .uael-post__complete-box-overlay:hover + .uael-post__inner-wrap a.uael-post__read-more{color:#0044AB;}@media(max-width:1024px){.elementor-13085 .elementor-element.elementor-element-6754c2b2 .uael-post-grid .uael-post-wrapper{margin-bottom:40px;}}/* Start custom CSS for theme-post-content, class: .elementor-element-3f58bae5 */#key-insights {
    background-color: #F1F7FF;
    padding: 25px 40px;
    border-radius: 3px;
   margin-top: 30px;
   margin-bottom: 30px;
}

#key-insights h2 {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #323847;
    margin-top: 0;
    margin-bottom: 35px;
}

#key-insights li {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 32px;
    font-weight: 400;
    color: #323847;
    margin-left: 32px;
}

.anchor-offset {
    padding-top: 115px !important;
    margin-top: -115px !important;
}

p a,
.tb-simple-text li a {
   text-decoration: underline;
}

p a:hover,
.tb-simple-text li a:hover {
   text-decoration: underline;
   color: #0044AB !important;
}

p a span {
   color: #0064E1 !important;
}

p a span:hover {
   color: #0044AB !important;
}

p span {
   color: #323847 !important;
}

blockquote p span {
   color: #0064E1;
}

p {
   margin-bottom: 25px;
}

p img {
   margin-top: 20px !important;
   margin-bottom: 20px !important;
}

.tb-simple-text ul li,
.tb-simple-text ol li {
   margin-left: 50px;
   list-style-position: outside;
}

.tb-simple-text ul,
.tb-simple-text ol {
   line-height: 30px;
   list-style-position: outside;
   margin: -15px 0 25px;
}

.tb-line1-8 {
   line-height: 1.7;
}

.tb-blog-head {
   padding: 150px 0;
}

.tb-f48-lg {
   font-size: 40px;
   font-family: "Montserrat";
   line-height: 48px;
}

.tb-category-btn.tb-style1 {
   padding: 5px 10px;
   font-size: 14px;
   background: #fff;
   color: #000;
   font-weight: 600;
}

.tb-post-date-single, .tb-post-author-single::after {
   display: none !important;
}

.tb-user-img {
   margin-top: 10px;
}

.tb-user-content span {
   font-size: 20px;
   margin-top: 10px;
}

.tb-simple-text h2, .tb-content.default-page h2, .comment-list h2 {
   font-size: 28px;
   margin-top: 30px;
   margin-bottom: 8px;
}

.tb-simple-text blockquote {
   font-size: 22px;
   line-height: 1.5;
   color: #0064E1;
   font-family: "Open Sans";
   background: #F1F7FF;
   padding: 40px !important;
   margin: 40px 0;
}

.tb-f18-lg, strong {
   font-size: 18px;
   font-family: "Open Sans";
   font-weight: 700;
   line-height: 32px;
   font-weight: 400;
   color: #323847 !important;
}

strong {
   font-weight: 700 !important;
}

.tb-simple-text h2, .tb-simple-text h3, .tb-simple-text h4, .tb-simple-text h5 {
   font-family: "Montserrat";
   font-weight: 600;
   line-height: 1.5;
   color: #323847;
   margin-top: 30px;
}

.tb-simple-text h2 {
   font-size: 28px;
}

.tb-simple-text h3 {
   font-size: 24px;
}

.tb-simple-text h4 {
   font-size: 20px;
}

.tb-simple-text h5 {
   font-size: 18px;
}

.alignright {
   margin: 20px 0 !important;
}

.wp-caption-text {
    margin-bottom: 20px !important;
}

.tb-simple-text a, .tb-simple-text a strong {
   color: #0064E1 !important;
}

.tb-simple-text a:hover, .tb-simple-text a:hover strong {
   color: #0044AB !important;
}

.tb-simple-text hr {
    margin: 35px 0;
}

.tb-footer-widget-title {
   font-weight: 600;
}

.tb-tags a {
   border: 1px solid #323847;
   color: #323847;
   font-weight: 600;
}

.tb-tags a:hover {
   color: #0044AB !important;
}

.tb-blog-single-post-style1 .tb-simple-text>p:first-of-type:first-letter {
   font-size: 18px;
   float: none;
   font-weight: 400;
   margin: 0;
   color: #323847;
}

a.footnote {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
    margin-bottom: 12px;
}

p.footnote-text {
   font-size: 16px;
   line-height: 24px;
}

.table {
	border: none !important;
	color: #323847;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse; 	
	font-family: 'Open Sans';
	margin-bottom: 45px !important;

}

.table caption {
	font-size: 20px;
	font-weight: 600;
	color: #323847;
	text-align: center;
	max-width: 450px;
	margin: 0 auto 10px;
	caption-side: top;
	line-height: 1.5;
	font-family: 'Montserrat';
}

.table tr:nth-child(odd) {
	background-color: #F1F7FF;
	border-top: 1px solid #85bcff !important;
}

.table tr:first-child {
	border-top: 0px !important;
}

.table td, .table th {
	padding: 15px;
	border: none;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	line-height: 1.4;
	vertical-align: middle;
}

.table th:first-child {
	border-radius: 5px 0 0 5px;
}

.table th:last-child {
	border-radius: 0 5px 5px 0;
}

.table th {
	max-width: 150px;
	font-family: 'Montserrat';
	background:#0068f6; 
	color:#fff; 
	line-height: 1.5;
	font-weight: 600 !important;
	font-family: 'Montserrat' !important;
	line-height: 1.2;
}

.table .table-left-align {
	text-align: left;
	padding-left: 35px;
}

.tb-simple-text table th {
	color: #fff !important;
}

.table-bold {
	font-weight: 600 !important;
}

.table-red {
	color: red;
}

.table-green {
	color: #36A271;
}

.table-white {
	background: #fff;
}

@media only screen and (max-width: 600px) {
	.table {
		font-size: 12px;
		line-height: 1.5;
	}

	.table th,
	.table td {
		padding: 5px !important;
	}
}

@media only screen and (max-width: 700px) {
   .tb-simple-text blockquote {
      padding: 20px !important;
      font-size: 20px;
   }

   .tb-f48-lg {
      font-size: 30px;
   }
}/* End custom CSS */
/* Start custom CSS for uael-posts, class: .elementor-element-6754c2b2 */.recent-posts .uael-post__meta-data {
    padding-top: 10px;
}

.recent-posts .uael-post__content-wrap {
    min-height: 20rem;
}

.recent-posts .uael-post__inner-wrap {
    position: relative;
}

.recent-posts .uael-post__read-more {
    position: absolute;
    bottom: 24px;
}/* End custom CSS */