
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .bg-img {
      background-image: url('{% static 'assets/images/hf_638-min.jpg' %}'); /* Replace 'your-image.jpg' with your actual image path */
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Column 1: Form -->
      <div class="col-md-6">
        <div class="d-flex justify-content-center align-items-center vh-100">
          <div class="card">
            <div class="card-header">
                <img src="{% static 'assets/images/admisson-platform.png' %}" alt="AdmissionsPlatform logo" /><br>
              
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter username" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Column 2: Image -->
      <div class="col-md-6 bg-img d-none d-md-block"></div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
