{% extends 'partials/base.html' %}
            
{% load static %}

{% block content %}
      
<div class="container mt-5">
    <h1>Here are 10 affordable student cities across 5 countries:</h1>
    <p>These cities offer great academic environment affordable accommodation, transportation, and living expenses, making them ideal destinations for international students on a budget:</p>
    <ul>
      <li><strong>Australia:</strong> Adelaide, Brisbane, Perth, Hobart, Canberra, Gold coast</li>
      <li><strong>New Zealand:</strong> Hamilton, Palmerston North, Dunedin, Nelson</li>
      <li><strong>United Kingdom:</strong> Portsmouth , Kent ,Manchester  Cardiff, Belfast</li>
      <li><strong>Canada:</strong> Winnipeg, Montreal,  Halifax, Ottawa, Edmonton, Calgary</li>
      <li><strong>United State of America:</strong> Pennsylvania , Arkansas, Missouri, Texas, Fayetteville</li>
    </ul>
    <p>These cities offer affordable accommodation, transportation, and living expenses, making them ideal destinations for international students on a budget.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>


{% endblock content %}