{% extends 'partials/base.html' %}
            
{% load static %}

{% block content %}
      
<div class="container mt-5">
    <h1>10 Affordable Student Cities in 5 Countries</h1>
    <p>Studying abroad can be expensive, but there are affordable options available. Here are 10 student-friendly cities in 5 different countries where you can live and study on a budget:</p>
    <ul>
      <li><strong>Germany:</strong> <img src="https://www.countryflags.io/DE/shiny/64.png" alt="Germany Flag"> Berlin, Leipzig, Dortmund, Essen, Bochum</li>
      <li><strong>Canada:</strong> <img src="https://www.countryflags.io/CA/shiny/64.png" alt="Canada Flag"> Montreal, Winnipeg, Halifax, Ottawa, Edmonton</li>
      <li><strong>Australia:</strong> <img src="https://www.countryflags.io/AU/shiny/64.png" alt="Australia Flag"> Adelaide, Brisbane, Perth, Hobart, Canberra</li>
      <li><strong>Spain:</strong> <img src="https://www.countryflags.io/ES/shiny/64.png" alt="Spain Flag"> Valencia, Granada, Seville, Bilbao, Salamanca</li>
      <li><strong>Italy:</strong> <img src="https://www.countryflags.io/IT/shiny/64.png" alt="Italy Flag"> Bologna, Turin, Padua, Pisa, Naples</li>
    </ul>
    <p>These cities offer affordable accommodation, transportation, and living expenses, making them ideal destinations for international students on a budget.</p>
  </div>


{% endblock content %}