{% extends 'partials/base.html' %}
            
{% load static %}

{% block content %}
      
<div class="container mt-5">
    <h1>Privacy & Cookies Policy</h1>
    <p>Last updated: 20/03/2024</p>
    
    <h2>Privacy Policy</h2>
    <p>At Admission Platform, accessible from www.admissionplatform.io, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Admission Platform and how we use it.</p>
    
    <h3>Information We Collect</h3>
    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
    <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
    
    <h3>How We Use Your Information</h3>
    <p>We use the information we collect in various ways, including to:</p>
    <ul>
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality</li>
        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
        <li>Send you emails</li>
        <li>Find and prevent fraud</li>
    </ul>
    
    <h2>Cookies Policy</h2>
    <p>We use cookies and similar tracking technologies to track the activity on our service and hold certain information.</p>
    <p>Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our service.</p>
    
    <h3>How We Use Cookies</h3>
    <p>We use cookies for various reasons detailed below:</p>
    <ul>
        <li>To enable certain functions of the service</li>
        <li>To provide analytics</li>
        <li>To store your preferences and provide personalized advertising</li>
        <li>To enable advertisements delivery, including behavioral advertising</li>
    </ul>
    
    <p>You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.</p>
    
    <h3>Privacy Policies of Other Websites</h3>
    <p>The Admission Platform website may contain links to other websites. Our Privacy Policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
    
    <h3>Changes to Our Privacy Policy</h3>
    <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>
    
    <h3>Contact Us</h3>
    <p>If you have any questions about this Privacy & Cookies Policy, you can contact us:</p>
    <ul>
        <li>By email: info@admissionplatform.io</li>

    </ul>

</div>

<p>&nbsp;</p>

{% endblock content %}