{% extends 'partials/base.html' %}
            
{% load static %}

{% block content %}
      
<!-- Header Section -->
<div class="header-section text-white" style="background-image: url('{% static 'assets/images/studyabroad.jpg' %}'); background-size: cover; background-position: center center; height: 400px;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="elementor-heading-title elementor-size-default" style="color: #fff;font-size: 40px;">We are AdmissionPlatform</h1>
                <p class="lead">We empower people around the world to study abroad and access the best education.</p>
            </div>
        </div>
    </div>
  </div>



  


{% endblock content %}