{% extends 'partials/base.html' %}
            
{% load static %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>

<style>
  /* Custom background color */
  .dream-destination-section {
      background-image: url('{% static 'assets/images/Group-4153.png' %}'); /* Light blue background */
      padding: 20px 0; /* Add some padding for aesthetics */
  }
</style>

<!-- Header Section -->
<div class="header-section text-white" style="background-image: url('{% static 'assets/images/studyabroad.jpg' %}'); background-size: cover; background-position: center center; height: 400px;">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
              <h1 class="elementor-heading-title elementor-size-default" style="color: #fff;font-size: 40px;">Find Your Perfect Program</h1>
              <p class="lead">We're here to assist you in discovering and gaining admission to the ideal program in your dream destination.</p>
          </div>
      </div>
  </div>
</div>
      
<div class="container mt-4"  style="padding-top: 80px;">
  <div class="row">
      <!-- Image Column -->
      <div class="col-md-6">
        <img style="border-radius: 10px;" src="{% static 'assets/images/young-woman-wearing-graduation-gown.jpg' %}">
      </div>
      
      <!-- Content Column -->
      <div class="col-md-6">
          <h2 class="elementor-heading-title elementor-size-default" style="font-weight: 600; font-size: 32px;">The Easiest Way to Study Abroad</h2>
          <!-- Collapsible Group -->
          <div id="accordion">
              <div class="card">
                  <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            1. Answer a few questions
                          </button>
                      </h5>
                  </div>
                  
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        Discover the ideal study programs customized to your preferences. Simply spare 3 minutes to share some details about yourself and your educational aspirations. What field of study are you interested in? Where do you envision living while pursuing your studies? Let us tailor the perfect educational path for you.
                      </div>
                  </div>
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          2. Select a program
                        </button>
                    </h5>
                </div>
                
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Explore at your own pace with Admission Platform, where you can effortlessly compare programs based on factors like campus location, tuition fees, and more. When you're prepared to begin the application process, simply sign up with your email address if you haven't already. Admission Platform is entirely free to use; your sole expense may be the application fee charged by the university or college, if applicable.
                    </div>
                </div>
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Submit your best application
                      </button>
                  </h5>
                </div>
              
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      Rest assured, we'll meticulously review your application to ensure all necessary documents are included and meet the highest standards of quality. With our thorough checking process, you can submit your application with confidence, knowing that nothing vital has been overlooked.
                    </div>
                </div>
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4. Financial Assistance
                      </button>
                  </h5>
                </div>
              
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                      Enhance your study permit application by bolstering it with a Guaranteed Investment Certificate (GIC), or kickstart your educational journey with an Admission Platform Student Loan.
                    </div>
                </div>
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        5. Payment Processing Support
                      </button>
                  </h5>
                </div>
              
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                      Make secure, verified tuition payments through Flywire.
                    </div>
                </div>
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        6. Visa Support
                      </button>
                  </h5>
                </div>
              
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                      Going through the visa application process can be daunting, but with the support of Admission Platform or Admission Platform's trusted partner, One Vasco, you'll be in good hands for one of the biggest steps in your journey.
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>



    
</div>




<div class="container-fluid dream-destination-section" style="margin-top: 80px;">
  <div class="container">
      <h2 class="mb-4 text-center elementor-heading-title elementor-size-default" style="color: #fff;font-size: 40px;padding-top: 60px;padding-bottom: 60px;">Study In Your Dream Destination</h2>
      <div class="row text-center">
          <!-- Study in Canada -->
      <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="{% static 'assets/images/australia.png' %}" width="84" />
                <h5 class="card-title">Study in Australia</h5>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
    
    <!-- Study in UK -->
    <div class="col">
        <div class="card">
            <div class="card-body">
              <img src="{% static 'assets/images/new-zealand.png' %}" width="84" />
                <h5 class="card-title">Study in Newzealand</h5>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
    
    <!-- Study in the US -->
    <div class="col">
        <div class="card">
            <div class="card-body">
              <img src="{% static 'assets/images/canada.png' %}" width="84" />
                <h5 class="card-title">Study in the Canada</h5>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
    
    <!-- Study in Australia -->
    <div class="col">
        <div class="card">
            <div class="card-body">
              <img src="{% static 'assets/images/united-kingdom.png' %}" width="84" />
                <h5 class="card-title">Study in UK</h5>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
    
    <!-- Study in Ireland -->
    <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="{% static 'assets/images/united-states.png' %}" width="84" />
                <h5 class="card-title">Study in USA </h5>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>

    <!-- Study in Ireland -->
    <!--<div class="col">
      <div class="card">
          <div class="card-body">
              <img src="{% static 'assets/images/european-union.png' %}" width="84" />
              <h5 class="card-title">Study in Europe </h5>
              <a href="#" class="btn btn-primary">Explore</a>
          </div>
      </div>
  </div> -->
          
          <!-- Other cards follow... -->
      </div>
  </div>
</div>



<div class="container mt-4">
  <h2 class="mb-0" style="color: #000;font-size: 40px;padding-top: 60px;padding-bottom: 60px;text-align: center;">
    Your Questions, Answered
  </h2>
  <div class="accordion" id="accordionExample">
      <div class="card">
          <div class="card-header" id="headingOne">
              
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <div class="accordion" id="accordionQuestions">
                      <!-- Question 1 -->
                      <div class="card">
                        <div class="card-header" id="headingQuestion1">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseQuestion1" aria-expanded="true" aria-controls="collapseQuestion1">
                                    How can I find my dream program?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseQuestion1" class="collapse show" aria-labelledby="headingQuestion1" data-parent="#accordionQuestions">
                            <div class="card-body">
                                It only takes 3 minutes of your time to answer a few questions about your educational goals. What do you want to study? Where do you dream of living? We’ll suggest study programs tailored exactly to what you need.
                                
                            </div>
                        </div>
                    </div>
                    <!-- Question 2 -->
                    <div class="card">
                        <div class="card-header" id="headingQuestion2">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseQuestion2" aria-expanded="true" aria-controls="collapseQuestion2">
                                    How do I apply once I've found the right program?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseQuestion2" class="collapse" aria-labelledby="headingQuestion2" data-parent="#accordionQuestions">
                            <div class="card-body">
                                Once you have found the right program, simply follow the application process outlined by the institution. We can guide you through each step to ensure a smooth application experience.
                            </div>
                        </div>
                    </div>
                    <!-- Question 3 -->
                    <div class="card">
                        <div class="card-header" id="headingQuestion3">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseQuestion3" aria-expanded="true" aria-controls="collapseQuestion3">
                                    Why should I use Admission Platform?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseQuestion3" class="collapse" aria-labelledby="headingQuestion3" data-parent="#accordionQuestions">
                            <div class="card-body">
                              Admission Platform offers a convenient platform for students to explore study options, connect with institutions, and simplify the application process. Our team of experts is dedicated to supporting you at every stage of your educational journey.
                            </div>
                        </div>
                    </div>
                    <!-- Question 4 -->
                    <div class="card">
                        <div class="card-header" id="headingQuestion4">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseQuestion4" aria-expanded="true" aria-controls="collapseQuestion4">
                                    Which countries can I apply to study in?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseQuestion4" class="collapse" aria-labelledby="headingQuestion4" data-parent="#accordionQuestions">
                            <div class="card-body">
                              Admission Platform facilitates applications to institutions in various countries, including Australia, Newzealand, Canada, UK, USA and Europe.
                            </div>
                        </div>
                    </div>
                      <!-- Add more questions here -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock content %}