{% extends 'partials/base.html' %}
            
{% load static %}

{% block content %}

<style>
    /* Custom CSS */
    p {
      text-align: justify; /* Align text to justify */
      font-size: 18px; /* Set font size to 18px */
    }
  </style>
      
<div class="container" style="margin-top: 60px; margin-bottom: 80px;">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Terms and Conditions</h1>

<p>Welcome to Admission Platform. These Terms and Conditions outline the rules and regulations for the use of the Platform.</p>

<p>By accessing this Platform, we assume you accept these Terms and Conditions. Do not continue to use the Platform if you do not agree to take all of the terms and conditions stated on this page.</p>

<h2>1. Intellectual Property Rights</h2>
<p>Other than the content you own, under these Terms, Admission Platform and/or its licensors own all the intellectual property rights and materials contained in this Platform.</p>

<h2>2. Restrictions</h2>
<p>You are specifically restricted from all of the following:</p>
<ul>
  <li>Using this Platform in a way that is damaging, or may be damaging, to the Platform.</li>
  <li>Using this Platform in any way that impacts user access to this Platform.</li>
  <li>Using this Platform contrary to applicable laws and regulations, or in any way that may cause harm to the Platform, or to any person or business entity.</li>
</ul>

<h2>3. Privacy</h2>
<p>Your privacy is important to us. Please review our Privacy Policy, which also governs your visit to this Platform, to understand our practices.</p>

<h2>4. Limitation of Liability</h2>
<p>In no event shall Admission Platform, nor any of its officers, directors, and employees, be held liable for anything arising out of or in any way connected with your use of this Platform, whether such liability is under contract.</p>

<h2>5. Governing Law</h2>
<p>These Terms shall be governed by and construed following the laws of Admission Platform, without regard to its conflict of law provisions.</p>

<h2>6. Changes</h2>
<p>We reserve the right to modify these Terms and Conditions at any time. You should check this page regularly. Your continued use of the Platform after changes to these Terms and Conditions will mean you accept those changes.</p>

<h2>7. Contact Information</h2>
<p>If you have any questions or concerns about these Terms and Conditions, please contact us at partners@admissionplatform.io</p>

<p>By using this Platform, you signify your acceptance of these Terms and Conditions. If you do not agree to these Terms and Conditions, please do not use our Platform.</p>

      </div>
    </div>
  </div>


{% endblock content %}